{% extends "USER/userBase.html" %}
{% block header %}
{% load static %}
<main class="main-area fix">
    <!-- breadcrumb-area -->
    <section class="breadcrumb-area">
        <div class="breadcrumb-bg" data-background="{% static 'assets/img/bg/breadcrumb_bg.png' %}"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-10">
                    <div class="breadcrumb-content text-center">
                        <h3 class="title">Mail</h3>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/index">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Read Mail</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr>
    <section class="contact-area">
        <!-- <div id="map" data-background="assets/img/bg/map.jpg' %}"></div> -->
        <div class="contact-form-wrap">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-5 col-lg-7 col-md-9 col-sm-10">
                        <div class="section-title text-center mb-50">
                            <h2 class="title">Enter Password</h2>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-xxl-8 col-xl-9 col-lg-10">
                        <form class="contact-form text-center" method="post">
                            {% csrf_token %}
                            <div class="image-upload text-center" style="margin-bottom: 50px;">
                                <label for="file-input">
                                    <img id="img" src="/static/media/{{data}}" alt="Upload Image" title="Upload Image"
                                        style="margin: auto" height="400" width="400" />
                                </label>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-grp">
                                        <input type="password" required placeholder="Enter Password" name="password">
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn">Open</button>
                            <br>
                            <br>
                            {% if mailData %}
                            {% if mailData.attachment %}
                            <a class="btn btn-success" href="/static/media/{{mailData.attachment}}" download="">Download
                                Attachment</a>
                            <br> <br>
                            {% endif %}
                            <input onclick="responsiveVoice.speak('{{mailData.msg}}');" class="btn btn-success"
                                type='button' value='🔊 Play' />
                            <button type="button" class="btn btn-success"
                                onclick="window.location.href='/download?text={{mailData.msg}}&id={{mailData.id}}'">Download</button>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src='https://code.responsivevoice.org/responsivevoice.js'></script>

    {% endblock %}